#gestures .title-a{
        margin-top: 9px;
        width: 60%; 
        padding-left: 16px;
    }    
#gestures .title-b{
    text-align:right;
    width: 40%;
    padding-right: 16px;
    margin-bottom: -5px;
    }
#gestures li{
	padding:5px 0 5px 0;
}
    #buttons .title-l{
        width: calc(100% - 44px);
        width:-webkit-calc(100% - 44px)
    }
    
     #buttons .title-r{
        width: 20px;
    }
    #buttons input[type=checkbox] {
        margin-top: 3px;
    }



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}




/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
 #page-setting-content{
        width: 50%;
        margin: 0 auto;
    }
   
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
  #page-setting-content{
        width: 50%;
        margin: 0 auto;
        color: green;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
   #page-setting-content{
        margin: 0 auto;
         width: 50%;
        color: blue;
    } 
}
.ui-footer-fixed {
bottom: 0px;
padding-bottom: 0px;
}

.ui-btn-inner {
    border-color: rgba(255, 255, 255, 0.3);
    border-top: 0px solid rgba(255, 255, 255, 0.3);
}
/*chinh cho cac nut cua toolbar*/
div#footer.ui-bar div#toolbar.ui-corner-all div.ui-block-c .ui-btn span.ui-btn-inner,
#toobar .ui-block-c .ui-btn-inner{
padding-top: 22px;
}